<div class="h-100">
  <div class="row justify-content-center h-100">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 main">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-8 side">
      <div class="vertical-center w-100">
        <div class="row justify-content-center">
          <div class="col-9">
            <h1>Your reliable customer management System</h1>
            <h5>Track and engage all your customers withe ease.</h5>
            <div class="text-left pt-5">
              <img src="../../../assets/images/home-hero.svg" alt="" height="400">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>